
body{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #F5F5F5;
}
p{
  font-size: 44px;
  margin: 15px;
}
.topRow{
  padding: 5px 50px 10px 50px;
}
.showInfo {
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  background-color: #FEFEFE;
  justify-content: middle;
  transition: background 0.5s ease-in-out;
  width: 40%;
  position: absolute;
}
.infoContainer{
  width: 99%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 8%;
  margin-bottom: 8%;
}
.myBtn{
  color: #1ecd97;
  padding: 15px;
  border: 2px solid #1ecd97;
  border-radius: 25px;
  background-color: #FEFEFE;
  transition-duration: 0.5s;
  font-weight: bold;
  cursor: pointer;
}
.myBtn:hover{
  background-color: #CD1E54;
  color: white;
}
.myBtn:focus {
  outline: none;
}
#thePic{
  height: 150px;
  width: 150px;
  border-radius: 150px;
}
.showInfo:hover{
  transition-property: all;
  transition-duration: 0.5s;
  background-color: #1ecd97;
}
.footer{
  display: block;
  position: fixed;
  bottom: 0;
  height: 7%;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  width: 99%;
}
#icon{
  height: 25px;
  width: 25px;
  color: gray;
  margin: 0 auto;
}
#icon:hover{
  color: #E53935;
  transition-duration: 0.5s;
}
